@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-6;
}

p {
  @apply text-[14px] lg:text-lg;
}

h1 {
  @apply mb-4 text-4xl font-light  lg:text-6xl;
}

h2 {
  @apply mb-4 text-3xl font-light lg:text-5xl;
}

h3 {
  @apply mb-4 text-2xl font-bold lg:text-3xl;
}

h4 {
  @apply mb-4 text-xl lg:text-2xl;
}

h5 {
  @apply mb-4 text-base lg:text-xl;
}

h6 {
  @apply mb-4 text-xs lg:text-sm;
}

ul {
  @apply list-disc;
}

.btn {
  @apply inline-block rounded-full bg-green py-1.5 px-6 text-white transition-colors hover:bg-gray-400;
}

.btn-big {
  @apply py-3;
}

.btn-long {
  @apply px-16;
}

.input {
  @apply relative;
}

.input textarea,
.input input[type='text'],
.input input[type='email'],
.input input[type='password'] {
  @apply rounded-[5px] border border-solid border-gray-400 p-3 pt-5 pb-1  placeholder-transparent outline-0;
}

.input textarea {
  @apply h-32;
}

.input textarea + label,
.input input[type='text'] + label,
.input input[type='email'] + label,
.input input[type='password'] + label {
  @apply absolute left-3 top-[13px] z-10 cursor-text text-gray-400 transition-all;
}

.input textarea::placeholder .input input[type='text']::placeholder,
.input input[type='email']::placeholder,
.input input[type='password']::placeholder {
  display: none;
}

.input textarea:focus + label,
.input input[type='text']:focus + label,
.input input[type='email']:focus + label,
.input input[type='password']:focus + label,
.input textarea:not(:placeholder-shown) + label,
.input input[type='text']:not(:placeholder-shown) + label,
.input input[type='email']:not(:placeholder-shown) + label,
.input input[type='password']:not(:placeholder-shown) + label {
  @apply absolute left-3 top-1.5 z-10 text-xs text-gray-400;
}

/* Normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

/* Italic */

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}
