@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-6;
}

p {
  @apply font-serif text-lg font-light leading-tight md:text-[22px];
}
.text-block p {
  @apply mb-4 indent-8 font-sans text-lg font-light md:text-[18px];
}

.text-block p:first-of-type {
  @apply indent-0;
}

h1 {
  @apply mb-6 font-serif text-5xl font-bold md:text-[63px] md:leading-[60px];
}

h2 {
  @apply mb-4  font-serif text-3xl font-bold lg:text-5xl;
}

h3 {
  @apply mb-4 font-serif text-2xl font-bold lg:text-3xl;
}

h4 {
  @apply mb-4 font-serif text-xl lg:text-2xl;
}

h5 {
  @apply mb-4 text-base lg:text-xl;
}

h6 {
  @apply mb-4 text-xs lg:text-sm;
}

ul {
  @apply list-disc font-serif font-light;
}

.btn {
  @apply cursor-pointer rounded-full border border-greenNeon bg-greenNeon py-1 px-3 pb-2 font-serif text-sm tracking-wide
  text-black transition-all hover:bg-white md:px-5;
}

.btn-orange {
  @apply border-orange bg-orange;
}
.btn-pink {
  @apply border-pink bg-pink text-white;
 
}

.btn-pink:hover {
  @apply bg-pink bg-opacity-70;
}

.btn-big {
  @apply px-5 py-2 pb-[10px] text-sm md:py-3 md:px-10 md:pb-4 md:text-base;
}

.btn-long {
  @apply px-16;
}

.btn-outline {
  @apply border border-greenNeon bg-white transition-all hover:bg-greenNeon;
}

.input {
  @apply relative;
}

.input textarea,
.input input[type='text'],
.input input[type='email'],
.input input[type='password'] {
  @apply rounded-[5px] border border-solid border-gray-400 p-3 pt-5 pb-1  placeholder-transparent outline-0;
}

.input textarea {
  @apply h-24;
}

.input textarea + label,
.input input[type='text'] + label,
.input input[type='email'] + label,
.input input[type='password'] + label {
  @apply absolute left-3 top-[13px] z-10 cursor-text text-gray-400 transition-all;
}

.input textarea::placeholder .input input[type='text']::placeholder,
.input input[type='email']::placeholder,
.input input[type='password']::placeholder {
  display: none;
}

.input textarea:focus + label,
.input input[type='text']:focus + label,
.input input[type='email']:focus + label,
.input input[type='password']:focus + label,
.input textarea:not(:placeholder-shown) + label,
.input input[type='text']:not(:placeholder-shown) + label,
.input input[type='email']:not(:placeholder-shown) + label,
.input input[type='password']:not(:placeholder-shown) + label {
  @apply absolute left-3 top-1.5 z-10 text-xs text-gray-400;
}

/* Normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/iAWriterQuattroV.ttf') format('truetype');
}

/* Italic */

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Alpina';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/alpina.woff2') format('woff2'),
    url('/fonts/alpina.woff') format('woff');
}

@font-face {
  font-family: 'Walsheim';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/gt-walsheim-light-webfont.woff2') format('woff2'),
    url('/fonts/gt-walsheim-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Walsheim';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
    url('/fonts/gt-walsheim-pro-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Walsheim';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
    url('/fonts/gt-walsheim-pro-medium-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Walsheim';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/gt-walsheim-pro-bold-webfont.woff2') format('woff2'),
    url('/fonts/gt-walsheim-pro-bold-webfont.woff') format('woff');
}
