{% assign page_title = title | append: ' :: ' | append: site.name %} {% if
site.name == title %} {% assign page_title = title %} {% endif %} {% assign
site_title = site.name %} {% assign current_url = site.url | append: page.url %}
{% unless social_image %} {% assign social_image = site.url | append:
'/images/social-share.png' %} {% endunless %} {% if meta.title %} {% assign
page_title = meta.title %} {% endif %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{{ page_title }}</title>

<link rel="canonical" href="{{ current_url }}" />

<meta property="og:site_name" content="{{ site_title }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />

{% if social_image %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{{ social_image }}" />
<meta name="twitter:image" content="{{ social_image }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %} {% if meta.desc %}
<meta name="description" content="{{ meta.desc }}" />
<meta name="twitter:description" content="{{ meta.desc }}" />
<meta property="og:description" content="{{ meta.desc }}" />
{% endif %}

<meta name="description" content="An AI-powered writing app for novelists" />
<meta name="author" content="Verb" />

<meta property="og:title" content="Verb" />
<meta property="og:type" content="website" />
<!-- <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/"> -->
<meta
  property="og:description"
  content="An AI-powered writing app for novelists"
/>
<!-- <meta property="og:image" content="image.png"> -->

<link
  rel="apple-touch-icon-precomposed"
  sizes="57x57"
  href="/apple-touch-icon-57x57.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  href="/apple-touch-icon-114x114.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  href="/apple-touch-icon-72x72.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href="/apple-touch-icon-144x144.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="60x60"
  href="/apple-touch-icon-60x60.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  href="/apple-touch-icon-120x120.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="76x76"
  href="/apple-touch-icon-76x76.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  href="/apple-touch-icon-152x152.png"
/>
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Verb" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
<!-- link rel="manifest" href="site.webmanifest" / -->
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5" />
<meta name="theme-color" content="#ffffff" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script  src="https://www.googletagmanager.com/gtag/js?id=G-GN2T3BFY7K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GN2T3BFY7K');
</script>
