<header class="container mx-auto px-4">
  <nav class="">
    <div class="flex h-16 items-center justify-between">
      <a href="{{ '/' | url }}">
        <h1>Verb</h1>
      </a>
      <ul class="flex list-none space-x-4">
        <!-- {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <li>
          <a
            href="{{ item.url }}"
            class="text-base font-bold {{ highlight }}"
            {{
            current
            }}
          >
            {{ item.text }}
          </a>
        </li>
        {% endfor %} -->
        <li>
          <a href="{{ '/form/' | url }}" class="btn" {{ current }}>
            Get Started
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
